.introduction-overview-account{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 168px;
  border-bottom: solid 1px #f8f5f5;
  margin: 0 20px;
}
.center{
  margin-top: 120px;
  margin-bottom: 0;
  position: relative;
  z-index:0;
  padding: 0 24px;
  font-size: 30px;
  border-width: none;
  color: #000;
  text-align: center;
}

h1{
  margin: 0;
}

.center-second{
  padding: 13px 35% 10px;
  max-width: 450px;
  font-size: 13px;
  line-height: 1.7;
  color: #505256;
  align-items: start;
}

.center-third{
  padding-top: 1%;
  display: flex;
  justify-content: center;
}

.ab, .ac{
  border-style: solid;
  text-decoration: none; /* Bỏ gạch chân*/
  font-size: 12px;
  margin: 0 5px;
  padding: 7px 11px;
  border-radius: 6px;
  transition: all 0.8s;
}

.ab{
  color: aliceblue;
  background-color: #0284FE;
  border-color: #0284FE;
}

.ab:hover{
  opacity: 0.7;
}

.ac{
  color: #505256;
  border-width: 1px;
  padding: 8px 21px;
  border-color: #c6c7ca;
}

.ac:hover{
  border-color: #505256;
}

.introduction-overview-account{
  padding-top: 70px;
}
.intro1{
  display: flex;
  gap: 15px;
  padding: 0;
  margin-bottom: 22px;
}

.p1{
  width: 15px; /* Kích thước ảnh */
  height: 15px;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #f8f5f5;
  border-radius: 15px;
  box-shadow: #d2d3d4 1px 1px 1px 1px;
}
.intro2-3{
  width: 215px;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 10px;
  position: relative;
  box-shadow:0 5px 20px #d9dbdd;

}

.pic1{
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.p2 {
  width: 50px;
  height: 50px;
  border-radius: 90px;
  object-fit: cover;
}

.p3{
  padding: 0;
  position: absolute;
  width: 7px;
  margin-top: 40px;
  margin-left: 33px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 50%;
  border-color: aliceblue;
  z-index: 10; 
}

.p4, .p5{
  display: flex;
  justify-content: center;
}

.p4{
  color: #000;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10;
  margin-bottom: 7px;
}

.p5 {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

.intro3{
  padding: 25px;
  display: flex;
}

.intro3 button{
  width: 100px;
  padding: 8px 8px;
  word-spacing: 12px; /* Tăng khoảng cách giữa các từ*/
  font-size: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.b1{
  margin-right: 4px;
  margin-left: -9px;
  border: none;
  background-color: #0284FE;
  color: aliceblue;
  transition: all 0.8s;
}

.b1:hover{
  background-color: #5c87af;
}

.b2{
  margin-left: 4px;
  margin-right: -9px;
  border: #d2d3d4 solid 1px;
  background-color: white;
  color: #505256;
}


.overview-above{
  border: 1px solid rgb(246, 244, 244);
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  margin-top: -8px;
  margin-bottom: 8px;
  box-shadow:0 5px 20px #d9dbdd;
}

.p6{
  width: 200px;
  height: 200px;
}

.af{
  display: flex;
  margin-top: -6px;
  margin-bottom: -2px;
}

.p7 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
}

.af p{
  font-size: 12px;
}

.im{
  padding: 10px;
  position: relative;
}
.p23, .p24{
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 36px;
}

.p24{
  z-index: 2;
  opacity: 0;
}

.show-p24 .p24 {
  opacity: 1;
}

.overview-under{
  display: flex;
  border: solid 1px #f8f5f5;
  padding: 10px;
  box-shadow:0 5px 20px #d9dbdd;
  border-radius: 10px;
}

.p8{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.ak1, .ak2{
  font-size: 10px;
  margin: 2px 10px;
}

.ak1{
  color: #000;
  font-weight: bold;
}

.pt{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.p31, .p32{
  width: 17px;
  height: 17px;
}

.p31{
  position: absolute;
}

.p32{
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.show-p32 .p32 {
  opacity: 1;
}

.account{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow:0 5px 20px #d9dbdd; /* bóng*/
  border: solid 1px #f8f5f5;
  padding: 44px 4px 25px;
}

.account1{
  margin-top: -20px;
}

.account1a{
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.account1 h2{
  font-size: 17px;
  color: #000;
  margin-left: 10px;
}

.account1 p{
  font-size: 9px;
  margin-right: 5px;
}

.a1a{
  color: #0284FE;
  cursor: pointer;
}

.account2{
  margin-top: 40px;
}

.account2 img{
  width: 12px;
  height: 12px;
}

.account2 button{
  background-color: white;
  padding: 6px 8px;
  border-radius: 20px;
  border-width: 1px;
  border-color: #c6c7ca;
  color: #c6c7ca;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin: 11px;
}

.account2 button.highlight {
  border-color: #0284FE; 
}

.account3 button{
  width: 180px;
  background-color: #d6e3ef;
  opacity: 0.5 ;
  margin-left: 10px;
  padding: 9px 14px;
  border-radius: 20px;
  border: none;
  color: #0f67b9;
  cursor: pointer;
  font-size: 12px;
  margin-top: 20px;
}

.account3 button:hover{
  background-color: #9cc9f4;
}