.perfect-code{
  display: flex;
  margin: 0 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfect-code-introduction{
  text-align: center; /* căn giữa cho văn bản*/
  width: 430px;
  font-size: 25px;
  margin-bottom: 50px;
  font-weight: bold;
}

.perfect-code-picture{
  width: 750px;
  background-color: black;
  padding: 25px 0;
  border-radius: 20px;
  overflow: hidden;
}

.perfect-code-picture span{
  font-size: 12px;
}

.bap{
  padding-left: 20px;
  display: flex;
  gap: 2px;
  padding-top: 7px;
}